:root {
   // fontsize text

   --h0-fs: 10rem;
   --h0-lh: 9rem;

   --h1-fs: 8rem;
   --h1-lh: 11rem;

   --h2-fs: 5.2rem;
   --h2-lh: 6.6rem;

   --h3-fs: 3.2rem;
   --h3-lh: 4rem;

   --h4-fs: 2.3rem;
   --h4-lh: 3.2rem;

   --h5-fs: 2rem;
   --h5-lh: 2.7rem;

   --body18-fs: 1.8rem;
   --body18-lh: 2.8rem;

   --body16-fs: 1.6rem;
   --body16-lh: 2.5rem;

   --body14-fs: 1.4rem;
   --body14-lh: 2.1rem;

   --body13-fs: 1.3rem;
   --body13-lh: 1.8rem;

   --body12-fs: 1.2rem;
   --body12-lh: 1.6rem;

   @media (max-width: 1440px) {
      --h0-fs: 8rem;
      --h0-lh: 7rem;

      --h1-fs: 6.2rem;
      --h1-lh: 5.4rem;

      // --h2-fs: 5.2rem;
      // --h2-lh: 6.6rem;

      // --h3-fs: 3rem;
      // --h3-lh: 4rem;
   }
   @media (max-width: 1024px) {
      // --h0-fs: 6rem;
      // --h0-lh: 5.8rem;

      // --h1-fs: 5.2rem;
      // --h1-lh: 6.4rem;

      // --h2-fs: 4rem;
      // --h2-lh: 5rem;

      // --h3-fs: 3rem;
      // --h3-lh: 4rem;

      // --h4-fs: 2.3rem;
      // --h4-lh: 3rem;

      // --h5-fs: 1.8rem;
      // --h5-lh: 2.4rem;
   }
   @media (max-width: 767px) {
      --h0-fs: 5rem;
      --h0-lh: 5rem;

      --h1-fs: 4.8rem;
      --h1-lh: 5.6rem;

      --h2-fs: 3rem;
      --h2-lh: 4rem;

      --h3-fs: 2.4rem;
      --h3-lh: 3rem;

      --h4-fs: 2rem;
      --h4-lh: 3rem;

      --h5-fs: 1.8rem;
      --h5-lh: 2.4rem;

      --body18-fs: 1.6rem;
      --body18-lh: 2.3rem;
   }
}

/*primary colors*/
$white-cl: #fff;
$black-cl: #000;
$primary-cl: #50c4cf;
$primary2-cl: #05aeab;
$primary-27-cl: #d0eff2;
$bg-management-cl: #f4f7f6;
$contentManagement-bShadow: 0px 0px 3px rgba(0, 0, 0, 0.25);

/*global text color*/
$text-cl: #222;
$text-black-cl: #131313;

/*global bg color*/
$main-bg-cl: #000;
$black-bg-cl: #000;

// timing transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;
$font-main: arial;

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;

html,
body {
   --heightHeader: 90px;
   --heightHeaderManagement: 90px;
   --rightDRD: 70px;
   --widthColumnTab: 288px;
   --marginFakeContainer: 120px;
   --paddingFakeContainer: 15px;
   @media (max-width: 1600px) {
      --widthColumnTab: 270px;
      --heightHeaderManagement: 85px;
   }
   @media (max-width: 1480px) {
      --widthColumnTab: 250px;
      --heightHeaderManagement: 80px;
   }
   @media (max-width: 1300px) {
      --heightHeader: 80px;
      --marginFakeContainer: 50px;
   }
   @media (max-width: 1200px) {
      --heightHeader: 70px;
      --marginFakeContainer: 120px;
   }
   @media (max-width: 1140px) {
      --marginFakeContainer: 90px;
   }
   @media (max-width: 1024px) {
      --marginFakeContainer: 30px;
   }
}

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1680px;
$container-width: 1440px; // tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
